@import "easy";

body {
  background-color: #3773aa;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container {
  padding: 1rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 2px 2px 4px 0 #a6a6a6;
}

@media screen and (max-width: 728px) {
  #container {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
  
  body {
    margin: 0;
  }
}

#navigation, #typography .header, #tables, #buttons,
#alerts, #gridview { 
  @extend .center;
}

.exemples {
  margin-top: 30px;
  margin-bottom: 30px
}

#menu {
  @extend .navbar;
}

#fil {
  @extend .breadcrumb;
}

#typography, #tables {
  margin-top: 80px;
}

.typo {
  margin-top: 30px;
}

.article {
  margin-top: 80px;
}

.example-pre {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#gridview, #buttons, #alerts {
  margin-top: 80px;
}

.inline {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

@media screen and (max-width: 1024px) {
  .inline {
    display: block;
    width: 100%;
  }
}

.exemple-table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .exemple-table {
    width: 100%;
  }

  .example-pre {
    width: inherit;
  }
}

.alert-box {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#started {
  text-align: center;
}

#navigation {
  margin-top: 80px;
}