@import "easy";

// Custom
@font-face {
  font-family: "Font Easy Intro";
  src: url('../font/brush_mt.TTF');
}

body {
  background-color: #3773aa;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container-intro {
  background-color: #f2f2f2;
  border: 2px solid black;
  font-size: 0;
  min-height: 93vh;
  padding: 4%;
  box-sizing: border-box;

  & a:visited {
    color: $textPrincipalColor;
  }

  & #intro-left, #intro-right {
    font-size: 1rem;
    vertical-align: top;
    width: 50%;
    display: inline-block;

    & img {
      max-width: 50%;
    }
  }
  & #intro-right {
    @extend .right;
    @extend strong;
  }
}

#easy-text {
  @extend .right;
  font-family: "Font Easy Intro";
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

#buttons {
  font-size: 1rem;
  @extend .right;
  margin-top: 2rem;

  & .download {
    @extend .btn;
    @extend .btn-blue;

    & a {
      color: white;

      &:visited {
        color: white;
      }

      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  & .documentation {
    @extend .btn;
    @extend .btn-red;

    & a {
      color: white;

      &:visited {
        color: white;
      }
    }
  }
}