@mixin aloneElem($nbElements, $marginLR) {
  @for $num from 1 to $nbElements + 1 {
    $gutter: $marginLR * 2;
    $gridW: 100% - ($gutter * $nbElements);
    $widthElem: ($gridW / $nbElements);

    $widthRowNum: 0;
    $widthOfCol: ($num * $widthElem) + (($marginLR * 2) * ($num - 1));

    .col#{$num} {
      padding: .8rem;
      font-size: 1rem;
      width: $widthOfCol;
      margin: .3rem $marginLR;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: $grey;
      border: 1px solid $lightGrey;
      display: inline-block;
      text-align: justify;
      vertical-align: top;
    }
  }

  @for $num-2 from 1 to $nbElements {
    $gutter: $marginLR * 2;
    $gridW: 100% - ($gutter * $nbElements);
    $widthElem: ($gridW / $nbElements);
    $margin: ($num-2 * $widthElem) + (($marginLR * 2) * $num-2) + $marginLR;

    .offset#{$num-2} {
      margin-left: $margin;
    }
  }
}
@include aloneElem($aloneNbElem, $aloneMarginLR);

// Responsive elements
@for $num from 1 to $aloneNbElem {
  @media screen and (max-width: 728px) {
    .col#{$num} {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

@mixin gridElem($width, $margin) {
  padding: .8rem;
  font-size: 1rem;
  width: $width;
  margin: .3rem $margin;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $grey;
  border: 1px solid $lightGrey;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

@mixin offsetElem($margin) {
  margin-left: $margin;
}

@function row-calc($numeroOfCol, $nbElements, $marginLR) {
  $gutter: $marginLR * 2;
  $gridW: 100% - ($gutter * $nbElements);
  $widthElem: ($gridW / $nbElements);

  $widthOfCol: ($numeroOfCol * $widthElem) + (($marginLR * 2) * ($numeroOfCol - 1));

  @return $widthOfCol;
}

@mixin createGrid($nbElement, $marginLR) {
  font-size: 0;
  text-align: left;
  vertical-align: top;

  @for $num from 1 to $nbElement + 1 {
    & > .col#{$num} {
      $width: row-calc($num, $nbElement, $marginLR);
      @include gridElem($width, $marginLR);
    }
  }

  @for $num-2 from 1 to $nbElement {
    & > .offset#{$num-2} {
      $width: row-calc(1, $nbElement, $marginLR);
      $margin: ($num-2 * $width) + (($marginLR * 2) * $num-2) + $marginLR;
      @include offsetElem($margin);
    }
  }
}

// Grids
.grid {
  @include createGrid($defaultNbElemGrid, $defaultMarginLRGrid);
}

.grid-small {
  @include createGrid($smallNbElemGrid, $smallMarginLRGrid);
}

.grid-large {
  @include createGrid($largeNbElemGrid, $largeMarginLRGrid);
}

// Responsive Grid
@for $num from 1 to $defaultNbElemGrid + 1 {
  @media screen and (max-width: 728px) {
    .grid .col#{$num}, .grid-small .col#{$num}, .grid-large .col#{$num} {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

@for $num from 1 to $defaultNbElemGrid {
  @media screen and (max-width: 728px) {
    .offset#{$num} {
      margin-left: 1%;
    }
  }
}